<div class="parent">
<p>parent works!</p>
<form [formGroup] = "parentForm">
<input type="text" name="data" formControlName="data"  placeholder="Type to send...">
<input type="button" (click)="sendToChildren()" value="Both">
<input type="button" (click)="sendToChildOne()" value="ChildOne">
<input type="button" (click)="sendToChildTwo()" value="ChildTwo">
</form><br>

<div class="row">
<div class="col-md-6 childOne">
<app-child [data]="message.data" [msgFrmSiblingTwo]="msgToSibOne" (childMsg)="receiveMsgFrmChild($event)" (msgToSib)="msgToSibling($event)"></app-child>
</div>

<div class="col-md-6 childTwo">
<app-child-two [frmSibling]="msgToSib" [frmParent]="msgToChildTwo.data" (msgfrmSibTwo)="msgToSiblingOne($event)"></app-child-two>
</div>
</div><br>

<p>Message from Child: <b>{{msg}} </b> </p>
</div>