<!-- <app-navbar></app-navbar>
 -->
 <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <app-parent></app-parent>
            </div>
            <div class="col-md-6">
                <app-parent-one></app-parent-one>
            </div>
        </div>
    </div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-view-child-method-parent></app-view-child-method-parent>
        </div>
        <div class="col-md-6">
            <app-view-parent></app-view-parent>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-ls-comp-one></app-ls-comp-one>
            <app-ls-comp-two></app-ls-comp-two>
        </div>
        <div class="col-md-6">
            <!-- <app-ls-arr-one></app-ls-arr-one>
            <app-ls-arr-two></app-ls-arr-two> -->
        </div>
    </div>
</div>
<hr>

